annotated-types==0.8.0
arcosparse==0.5.1
boto3==1.43.106
botocore==1.43.106
Cartopy==0.26.0
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
cloudpickle==3.1.2
contourpy==1.4.0
copernicusmarine==2.5.0
cycler==0.12.1
dask==2026.8.0
donfig==0.8.1.post1
fonttools==4.66.1
fsspec==2026.9.0
google-crc32c==1.9.0
h5netcdf==1.8.1
h5py==3.16.0
idna==3.20
jmespath==1.1.0
joblib==1.6.0
kiwisolver==1.5.1
locket==1.0.0
matplotlib==3.11.2
msgspec==0.22.0
narwhals==2.26.0
numcodecs==0.17.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
partd==1.4.2
pillow==12.3.0
pyarrow==25.0.1
pydantic==2.13.5
pydantic_core==2.46.5
pyparsing==3.3.3
pyproj==3.8.0
pyshp==3.1.6
pystac==1.15.2
pystac-core==1.15.2
pystac-ext-classification==2.0.1
pystac-ext-datacube==2.2.1
pystac-ext-eo==1.1.1
pystac-ext-file==2.1.1
pystac-ext-grid==1.1.1
pystac-ext-item-assets==1.0.1
pystac-ext-label==1.0.2
pystac-ext-mgrs==1.0.1
pystac-ext-mlm==1.4.1
pystac-ext-pointcloud==1.0.1
pystac-ext-projection==2.0.1
pystac-ext-raster==1.1.1
pystac-ext-render==2.0.0
pystac-ext-sar==1.0.1
pystac-ext-sat==1.0.1
pystac-ext-scientific==1.0.1
pystac-ext-storage==2.0.1
pystac-ext-table==1.2.1
pystac-ext-timestamps==1.1.1
pystac-ext-version==1.2.1
pystac-ext-view==1.0.1
pystac-ext-xarray-assets==1.0.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
s3transfer==0.19.2
scikit-learn==1.9.1
scipy==1.18.1
semver==3.1.0
shapely==2.1.2
six==1.17.0
threadpoolctl==3.7.0
toolz==1.1.0
tqdm==4.70.1
typing-inspection==0.4.4
typing_extensions==4.16.0
urllib3==2.8.0
xarray==2026.9.0
zarr==3.4.0
